/* CSS declarations go here */
#coordinator, #participant {
    background-color: #3399FF;
    text-align: center;
    line-height: 100vh;
    margin: auto;
    float: left;
    width: 50%;
    height: 100vh;
    font-size: 30px;
    font-weight: 600;
}

#participant {
    background-color: #E0E0E0;
    color:#3399FF;
}

#coordinator {
    color: #E0E0E0;
}

ul {
    list-style-type: none;
    padding-left: 0px !important;
}

.pointer {
	cursor: pointer;
}

.blue {
    color: blue;
}

.newQuestion {
	background-color: #f0ad4e !important;
	border-color: #f0ad4e !important;
}

.oldQuestion {
	background-color: #bbb !important;
	border-color: #bbb !important;
}

#startTime, #endTime {
	padding-left: 15px !important;
	padding-right: 15px !important;
}