/* CSS declarations go here */
button.close {
    color: white !important;
    font-weight: normal !important;
    opacity: 0.9 !important;
    text-shadow: none !important;
    margin-left: 5px;
}

button.done:hover {
    color: green !important;
    opacity: 0.5 !important;
}

button.delete:hover, button.deleteThread:hover, button.deleteResponse:hover, button.remove:hover {
    color: red !important;
    opacity: 0.5 !important;
}

button.deleteResponse, button.remove {
	color: gray !important;
	background-color:rgba(0, 0, 0, 0) !important;
}

button.deleteSchedule {
	padding: 0px 12px !important;
	background-color:rgba(0, 0, 0, 0) !important;
	border: none !important;
	color: gray !important;
}

div.progress-bar-gray {
	background-color: gray !important;
	border-color: gray !important;
}
    
#coordinator, #participant {
    background-color: #3399FF;
    text-align: center;
    line-height: 100vh;
    margin: auto;
    float: left;
    width: 50%;
    height: 100vh;
    font-size: 30px;
    font-weight: 600;
}

#participant {
    background-color: #E0E0E0;
    color:#3399FF;
}

#coordinator {
    color: #E0E0E0;
}

.activePage {
	background-color: #dfdfdf !important;
}

ul {
    list-style-type: none;
    padding-left: 0px !important;
}

.pointer {
	cursor: pointer;
}

.blue {
    color: blue;
}

.newQuestion {
	background-color: #f0ad4e !important;
	border-color: #f0ad4e !important;
}

.oldQuestion {
	background-color: gray !important;
	border-color: gray !important;
}

.oldQuestion > .done {
    color: green !important;
    opacity: 0.9 !important;
}

#startTime, #endTime {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.label{
    padding: 0.9em !important;
    padding-top: 1.1em !important;
    margin-left: -15px !important;
}